p.blog-title, 
h1.blog-title {
    font-size: 42px;
    text-transform: none;
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
    margin-top: 42px;
    line-height: normal;
}

.archive-title {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-transform: none;
    margin-bottom: 14px;
}

p.archive-count {
    margin: 0;
    padding: 0;
    margin-bottom: 21px;
    font-size: 14px;
    color: #c9c9c9;
    text-transform: uppercase;
    line-height: normal;
}

.archive-description p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #777777;
    font-weight: 300;
}

@media(min-width: 768px) {
    p.blog-title, 
    h1.blog-title {
        font-size: 48px;
        margin-bottom: 16px;
        margin-top: 48px;
    }

    .archive-title {
        font-size: 48px;
        margin-bottom: 16px;
    }

    p.archive-count {
        margin-bottom: 24px;
    }

    .archive-description p {
        font-size: 18px;
    }
}

.post-card {
    margin-bottom: 64px;
}

.post-card .post-thumbnail {
    position: relative;
    margin-bottom: 32px;
    display: block;
    text-decoration: none;
}

.post-card .post-thumbnail:before {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    content: "";
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    background-color: rgba(40,40,40,0.25);
}

.post-card .post-thumbnail:hover:before,
.post-card .post-thumbnail:hover .post-more,
.post-card .post-thumbnail:hover .post-time {
    opacity: 1;
}

.post-card .post-thumbnail .post-more,
.post-card .post-thumbnail .post-time {
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.post-card .post-thumbnail .post-more {
    font-weight: 700;
    top: 50%;
}

.post-card .post-thumbnail .post-more:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" xml:space="preserve" width="10" height="10" class=""><g><g><g><path style="fill: white;" d="M484.14,226.886L306.46,49.202c-5.072-5.072-11.832-7.856-19.04-7.856c-7.216,0-13.972,2.788-19.044,7.856l-16.132,16.136    c-5.068,5.064-7.86,11.828-7.86,19.04c0,7.208,2.792,14.2,7.86,19.264L355.9,207.526H26.58C11.732,207.526,0,219.15,0,234.002    v22.812c0,14.852,11.732,27.648,26.58,27.648h330.496L252.248,388.926c-5.068,5.072-7.86,11.652-7.86,18.864    c0,7.204,2.792,13.88,7.86,18.948l16.132,16.084c5.072,5.072,11.828,7.836,19.044,7.836c7.208,0,13.968-2.8,19.04-7.872    l177.68-177.68c5.084-5.088,7.88-11.88,7.86-19.1C492.02,238.762,489.228,231.966,484.14,226.886z"/></g></g></g> </svg>');
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 2px;
}

.post-card .post-thumbnail .post-time {
    padding: 16px 0;
    bottom: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.post-card .post-thumbnail .post-time:before {
    content: url('data:image/svg+xml; utf8, <svg id="Capa_1" enable-background="new 0 0 443.294 443.294" height="10" viewBox="0 0 443.294 443.294" width="10" xmlns="http://www.w3.org/2000/svg"><path style="fill: white;" d="m221.647 0c-122.214 0-221.647 99.433-221.647 221.647s99.433 221.647 221.647 221.647 221.647-99.433 221.647-221.647-99.433-221.647-221.647-221.647zm0 415.588c-106.941 0-193.941-87-193.941-193.941s87-193.941 193.941-193.941 193.941 87 193.941 193.941-87 193.941-193.941 193.941z"/><path style="fill: white;" d="m235.5 83.118h-27.706v144.265l87.176 87.176 19.589-19.589-79.059-79.059z"/></svg>');
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 2px;
}

.post-card img {
    max-width: 100%;
	object-fit: cover;
    width: 360px;
    height: 270px;
}

.post-card .post-categories {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.post-card .post-categories li {
    display: inline;
    margin: 0;
    padding: 0;
}

.post-card .post-categories a {
    color: #0084ec;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.post-card .post-categories a:hover {
    color: #A0A0A0;
}

.post-card .post-title {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    line-height: 1.25;
    font-size: 24px;
}

.post-card .post-title a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    text-transform: none;
}

.post-card .post-title a:hover {
    color: #A0A0A0;
}

.post-card p {
    font-size: 18px;
    color: #231F20;
    line-height: 1.5;
    font-weight: 300;
    margin: 0;
}

.post-grid {
    margin-top: 84px;
}


@media(min-width: 768px) {
    .post-grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-top: 96px;
    }

    .post-grid .post-card {
        width: calc((100% - 30px)/2);
    }

    .post-grid .post-card:nth-of-type(odd) {
        margin-right: 30px;
    }
}

@media(min-width: 1024px) {
    .post-grid .post-card {
        width: calc((100% - 60px) / 3);
        border-bottom: unset;
    }

    .post-grid .post-card:nth-of-type(odd) {
        margin-right: unset;
    }

    .post-grid .post-card:nth-of-type(3n-2),
    .post-grid .post-card:nth-of-type(3n-1) {
        margin-right: 30px;
    }
}

.button-more-posts {
    color: #29BDBA;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    height: 50px;
    width: 260px;
    border: 2px solid #29BDBA;
    border-radius: 100px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.button-more-posts:hover {
    color: #76E5DD;
    border-color: #76E5DD;
}