.section-photos-grid{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.section-photos-grid .img-1{
    height: 260px ;
    width: 244px;
    margin: 31px 31px 0 0;
}


.section-photos-grid .img-2{
    height: 260px ;
    width: 215px;
    margin: 31px 31px 0 0;
}


.section-photos-grid .img-3{
    height: 182px ;
    width: 320px;
    margin: 31px 31px 0 0;
    
}


.section-photos-grid .img-4{
    height: 182px ;
    width: 320px;
    margin: 31px 31px 0 0;
}


.section-photos-grid .img-5{
    height: 353px ;
    width: 223px;
    margin: 31px 31px 0 0;
}

.section-photos-grid .img-6{
    height: 265px ;
    width: 244px;
    margin: 31px 31px 0 0;
}

.section-photos-grid .img-7{
    height: 353px ;
    width: 223px;
    margin: 31px 31px 0 0;
}

.section-photos-grid .img-8{
    height: 179px ;
    width: 234px;
    margin: 31px 31px 0 0;
}

.section-photos-grid .img-9{
    height: 247px ;
    width: 170px;
    margin: 31px 31px 0 0;
}

.section-photos-grid .img-10{
    height: 202px ;
    width: 347px;
    margin: 31px 31px 0 0;
}

.section-photos-grid .img-11{
    height: 219px ;
    width: 277px;
    margin: 31px 31px 0 0;
}

.section-photos-grid .img-12{
    height: 260px ;
    width: 318px;
    margin: 31px 31px 0 0;
}

.section-photos-grid .siders-wrapper{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
}

.section-photos-grid .left-top{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
            align-items: flex-end;
}

.section-photos-grid .left-down{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
}

.section-photos-grid .right-top-left{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}

.section-photos-grid .right-top-left-top{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
            align-items: flex-end;
}

.section-photos-grid .right-down{
    display: -webkit-box;
    display: flex;
}

.section-photos-grid .desktop{
    display: none;
}

@media (min-width: 1024px){
    .section-photos-grid .desktop{
        display: block;
    }
    .section-photos-grid .side-right{
        margin-top: 109px;
    }
    .section-photos-grid .right-top{
        display: -webkit-box;
        display: flex;
        -webkit-box-align: end;
                align-items: flex-end;
    }
    
}
