.repeater-cards{
    margin: 17px 0 20px;
}

.repeater-cards .card:not(:first-child){
    padding-top: 40px;
}

.repeater-cards .card-image svg{
    height: 122px;
    width: 122px;
}

.repeater-cards h2, .repeater-cards h3{
    font-weight: 700;
    display: inline-block;
    font-size: 16px;
    color: #444;
    margin: 16px 0;
    padding: 0;
    line-height: 20px;
    text-transform: none;
}

.repeater-cards .card p{
    margin-top: 10px;
}

.repeater-cards p{
    font-size: 16px;
    color: rgba(68, 68, 68, 0.8);
    margin: 0;
    line-height: 22px;
}

.repeater-cards .align-text-left p{
    font-size: 14px;
}

.repeater-cards .align-text-left p{
    margin-top: 20px;
}

.repeater-cards .cards-wrapper.contact-card{
    padding-left: 0;
}

.repeater-cards .contact-card .card-image-png img{
    border-radius: 50%;
    height: 136px;
    width: 136px;
    -o-object-fit: cover;
       object-fit: cover;
}

.repeater-cards .contact-card p{
    font-size: 14px;
    color: #231F20;
    display: inline-block;
}

.repeater-cards i{
    margin-right: 10px;
}

@media (min-width: 768px){
    .repeater-cards h2, .repeater-cards h3{
        font-size: 24px;
        line-height: 34px;
    }

    .repeater-cards p{
        font-size: 20px;
        line-height: 30px;

    }
}

@media (min-width: 992px){
    .repeater-cards{
        padding: 0 46px;
        max-width: 1280px;
        margin: 74px 0 0px;
    }

    .repeater-cards .cards-wrapper{
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        padding: 0;
    }

    .repeater-cards .card{
        padding-top: 0px;
        width: 33.33%;
        min-width: 300px;
        max-width: 395px;
        box-sizing: border-box;
    }

    .repeater-cards .card-image{
        text-align: center;
    }

    .repeater-cards .align-text-left .cards-wrapper .card-image{
        text-align: left;
    }

    .repeater-cards .align-text-left .card{
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        min-width: initial;
    }
    
    .repeater-cards .cards-wrapper.align-text-left{
        min-width: initial;
        -webkit-box-pack: space-evenly;
                justify-content: space-evenly;
    }

    .repeater-cards .card-image svg{
        width: 170px;
        height: 170px;
    }

    .repeater-cards .card:not(:first-child){
        padding: 0 0 0 14px;
    }

    .repeater-cards .contact-card .card{
        width: initial;
    }

    .repeater-cards .contact-card p{
        font-size: 16px;
    }
    
    .repeater-cards .contact-card .card-image-png img{
        height: 256px;
        width: 256px;
    }

}

@media (min-width: 1024px){

    .repeater-cards .align-text-left p{
        margin-top: 34px;
        font-size: 24px;
    }

    .repeater-cards .align-text-left span{
        font-size: 18px;
    }
}

@media (min-width: 1280px){
    .repeater-cards{
        margin: 74px calc((100% - 1280px)/2) 0;
    }

    .repeater-cards .contact-card .card{
        width: 33.33%;
    }


}