.section-2columns-content{
    position: relative;
    margin: 20px 0;
}

.section-2columns-content.background {
    margin: 40px 0;
}

.section-2columns-content .section-2columns-content-img-wrapper{
    padding: 0 10px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.section-2columns-content .section-2columns-content-png-img{
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    max-width: 400px;
}

.section-2columns-content p{
    font-size: 16px;
    color: #444;
    margin-top: 12px;
    line-height: 24px;
    margin-top: 12px;
    text-decoration: none;
}

.section-2columns-content .section-2columns-content-text-wrapper *{
    color: #444;
}

.section-2columns-content .section-2columns-content-img-wrapper svg{
    width: 100%;
}

.section-2columns-content .section-2columns-content-text-wrapper{
    padding: 0 35px 35px;
    position: relative;
    z-index: 1;
}

.section-2columns-content h2{
    margin-top: 30px;
    font-size: 20px;
    line-height: 26px;
    text-transform: none;
    padding: 0;
}

.section-2columns-content.background .section-2columns-content-background-svg svg{
    position: absolute;
    height: 100%;
    width: 75vw;
}

.section-2columns-content.background .section-2columns-content-img-wrapper img{
    margin-top: -38px;
    height: calc(165.357vw);
    max-height: 463px;
    max-width: 280px;
    position: relative;
    left: -50%;
    -webkit-transform: translateX(calc(50% - 10px));
            transform: translateX(calc(50% - 10px));
}

.section-2columns-content li{
    font-size: 16px;
    color: rgba(68, 68, 68, 0.8);
    line-height: 24px;
    list-style: none;
    margin-bottom: 10px;
    margin-left: 23px;
    text-indent: -25px;
    padding: 0;
}

.section-2columns-content li::before{
    content: '';
    background-image: url('../../images/check-green.svg');
    height: 17px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
}

.section-2columns-content .section-2columns-card-cta{
    cursor: pointer;
    text-decoration: none;
    color: rgb(41, 189, 186);
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    box-sizing: border-box;
    height: 40px;
    background: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(41, 189, 186);
    -webkit-border-image: initial;
         -o-border-image: initial;
            border-image: initial;
    border-radius: 50px;
    padding: 0px 16px;
}

.section-2columns-content .section-2columns-card-cta:hover{
    color: rgb(41, 189, 186);
    opacity: 0.7;
    border-color:rgb(41, 189, 186);
    
}

@media (min-width: 768px){
    .section-2columns-content .section-2columns-content-container{
        padding: 0 23px 0 0;
    }

    .section-2columns-content h2{
        font-size: 24px;
    }

    .section-2columns-content p{
        font-size: 20px;
        line-height: 34px;
    }

    .section-2columns-content.background .section-2columns-content-text-wrapper{
        width: 50%;
        margin: 0 0 0 50%;
        padding: 50px 0;
    }
    .section-2columns-content.background .section-2columns-content-img-wrapper{
        position: absolute;
        left: 0px;
    }

    .section-2columns-content.background .section-2columns-content-img-wrapper img{
        height: calc(188.696vw);
        max-height: 651px;
        max-width: 345px;
        margin-top: -35px;
    }

    .section-2columns-content li{
        font-size: 20px;
        margin: 17px 35px;
        text-indent: -39px;
    }

    .section-2columns-content li::before{
        background-size: 27px;
        height: 22px;
        width: 27px;
        margin-right: 13px; 
    }
}

@media (min-width: 992px){

    .section-2columns-content{
        max-width: 1280px;
        padding: 0 calc((100% - 1280px)/2);
        margin: 30px 0;
    }

    .section-2columns-content.background {
        margin: 123px 0;
    }

    .section-2columns-content .section-2columns-content-container{
        padding: 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
                align-items: center;
    }

    .section-2columns-content .section-2columns-content-img-wrapper{
        width: 50%;
        display: inline-block;
        margin-top: 0px;
        position: relative;
        vertical-align: middle;
        padding: 0px 0 50px 0;
    }

    .section-2columns-content .section-2columns-content-text-wrapper{
        width: 50%;
    }

    .section-2columns-content .section-2columns-content-container.reverse{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
    }
    
    .section-2columns-content.background .section-2columns-content-img-wrapper img{
        left: -50%;
        height: calc(131.882vw);
        max-height: 757px;
        max-width: 574px;
        margin-top: 0;
    }

    .section-2columns-content.background .section-2columns-content-text-wrapper{
        padding: 72px 23px 72px 0;
    }

    .section-2columns-content.background .section-2columns-content-background-svg svg{
        left: 100px;
    }

    .section-2columns-content .section-2columns-card-cta{
        max-width: 246px;
    }
    
}

@media (min-width: 1100px){
    .section-2columns-content li{
        text-indent: 0;
        margin: 17px 0;
    }
}