.section-simulator{
    padding: 0 10px;
    text-align: center;
    position: relative;
    margin: -90px 0 90px;
}

.section-simulator hr{
    background-color: rgb(229, 236, 255);
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-style: none none solid;
    -webkit-border-image: initial;
         -o-border-image: initial;
            border-image: initial;
    border-bottom: 1px solid rgb(229, 236, 255);
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-simulator .simulator-title{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(152, 81, 204);
    padding: 5px 10px;
    margin-bottom: 8px;
}

.section-simulator .simulator-wrapper{
    padding: 16px;
    max-width: 1024px;
    min-height: 200px;
    position: relative;
    background-color: rgb(244, 247, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    border-radius: 8px;
    margin: 0 auto;
}

.section-simulator .label-title{
    display: block;
    font-size: 16px;
    color: #444;
    font-weight: 700;
    margin: 5px 0 10px;
    text-transform: uppercase;
}

.section-simulator .how-much-input{
    font-family: 'Ubuntu';
    outline: none;
    margin-top: 10px;
    max-width: 192px;
    height: 40px;
    background-color: transparent;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: rgb(68, 68, 68);
    line-height: 40px;
    border-radius: 0px;
    border-left: none rgb(152, 81, 204);
    border-top: none rgb(152, 81, 204);
    border-right: none rgb(152, 81, 204);
    border-color: rgb(152, 81, 204);
}

.section-simulator .simulator-error{
    height: 38px;
}

.section-simulator .simulator-error-text{
    display: block;
    color: rgb(213, 97, 115);
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    font-weight: 300;
}

.section-simulator .portion-wrapper{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    flex-wrap: wrap;
    margin: 24px 0;
}

.section-simulator .portion-button:not(:first-child){
    margin-left: 4px;
}

.section-simulator .portion-button.selected label{
    background: rgb(152, 81, 204);
}

.section-simulator .portion-button.selected span{
    color: #fff;
}

.section-simulator .portion-button label{
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
            align-items: center;
    height: 48px;
    width: 48px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(152, 81, 204);
    -webkit-border-image: initial;
         -o-border-image: initial;
            border-image: initial;
    border-radius: 12px;
}

.section-simulator .portion-button input{
    display: none;
}

.section-simulator .portion-button span{
    color: rgb(152, 81, 204);
    font-weight: bold;
    line-height: 1.5;
    font-size: 16px;
    display: -webkit-box;
    display: flex;
    margin: 0px auto;
}

.section-simulator .portion-button:hover label{
    background: rgb(152, 81, 204);
}

.section-simulator .portion-button:hover span{
    color: #fff;
}

.section-simulator .simulator-value-wrapper{
    margin-bottom: 24px;
}

.section-simulator .simulator-value-wrapper .simulator-value-title{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
    color: rgb(68, 68, 68);
}
 
.section-simulator .simulator-value-wrapper .simulator-value{
    margin: 3px 0 0;
    font-size: 28px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: normal;
    color: rgb(68, 68, 68);
}

.section-simulator .simulator-footer a{
    text-transform: uppercase;
    width: 312px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(41, 189, 186);
    cursor: pointer;
    line-height: 36px;
    text-align: center;
    border-style: solid;
    border-color: rgb(41, 189, 186);
    -webkit-border-image: initial;
         -o-border-image: initial;
            border-image: initial;
    border-radius: 50px;
    padding: 16px;
}

.section-simulator .simulator-footer a:hover{
    background: rgb(118, 229, 221);
    border-color: rgb(118, 229, 221);
}

.section-simulator .simulator-footer p{
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgb(102, 102, 102);
    padding: 0px 24px;
    
}

.section-simulator .simulator-footer-text-wrapper{
    margin: 15px 0 0;
}

@media (min-width: 375px){
    .section-simulator .portion-button:not(:first-child){
        margin-left: 18px;
    }

    .section-simulator .simulator-footer a{
        font-size: 16px;
    }
}

@media (min-width: 1024px){

    .section-simulator .simulator-wrapper{
        padding: 50px 40px;
        max-width: 1024px;
        box-sizing: border-box;
        height: 304px;
    }

    .section-simulator hr{
        width: 0px;
        height: auto;
        border-bottom: none;
        border-right: 1px solid rgb(229, 236, 255);
    }

    .simulator{
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: space-evenly;
                justify-content: space-evenly;
    }

    .section-simulator .simulator-value-wrapper{
        width: 25%;
        text-align: left;
    }

    .section-simulator .simulator-value-wrapper .simulator-value-title{
        margin-bottom: 30px;
    }


    .section-simulator .simulator-value-wrapper .simulator-value{
        font-size: 40px;
    }

    .simulador-how-much{
        width: 25%;
    }

    .section-simulator .simulator-how-much label{
        margin-bottom: 0;
    }

    .section-simulator .how-much-input{
        height: 35px;
    }

    .section-simulator .simulator-portion{
        width: 353px;
        margin-left: 15px;
    }

    .section-simulator .simulator-footer a{
        margin-bottom: 24px;
        display: inline-block;
        line-height: initial;
        box-sizing: border-box;
    }

    .section-simulator .simulator-footer .simulator-footer-text-wrapper{
        margin: 0;
    }

    .section-simulator .portion-button:not(:first-child){
        margin-left: 13px;
        display: inline-block;
    }
}

.section-simulator .portion-button.disable{
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

.section-simulator .portion-button.disable label{
    background-color: #fff;
}

.section-simulator .portion-button.disable span{
    color: rgb(152, 81, 204);
}