/* Utils */

html, body{
    margin: 0;
    font-family: 'Ubuntu';
}

.container{
    padding: 0 35px;
}

.title-container{
    margin: 30px auto 10px;
}

@media(min-width: 768px){
    .container{
        padding: 0 86px;
    }
}

@media(min-width: 992px){
    .title-container{
        margin: 95px 0 30px;
        padding: 0 46px;
        max-width: 1188px;
    }
}

@media (min-width: 1024px){
    .container{
        padding: 0 120px;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
}


  
  /* Header */
  
  .header-wrapper-mobile, .header-wrapper-desktop{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px;
    background-color: #fff;
    z-index: 10;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding: 0 16px;
    height: 72px;
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    top: 0;
  }
  
  .header-wrapper-desktop{
    height: 88px;
  }
  
  header .header-logo, header .menu-mobile{
    width: calc((100% - 192px)/2);
    display: inline-block;
  }

  header .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  header .menu-mobile .header-search {
    margin-right: 10px;
  }

  header .header-search svg {
    width: 20px;
    height: 20px;
  }
  
  header .header-logo svg{
    width: 182px;
    height: 40px;
    display: none;
  }
  
  header .header-logo .show svg{
    display: block;
  }
  
  header .header-logo .icon-svg{
    position: relative;
    left: -71px;
  }
  
  header .header-cta{
    background-color: rgb(11, 131, 132);
    color: #fff;
    font-weight: 100;
    text-decoration: none;
    padding: 11px 24px;
    border-radius: 4px;
    width: 192px;
    min-width: 192px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    display: none;
  }
  
  .header-cta.show{
    display: block;
  }
  
  header .menu-mobile{
    text-align: right;
  }
  
  header .menu-mobile .menu-mobile-svg svg{
    width: 18px;
    height: 18px;
    text-align: right;
  }
  
  .menu-mobile-svg.show{
    display: block;
  }
  
  .menu-mobile-svg{
    display: none;
  }
  
  .header-wrapper-desktop{
    display: none;
  }
  
  @media (min-width: 1024px){
    header{
        padding: 0 24px;
    }
  }
  
  .menu-nav-mobile{
    position: fixed;
    background-color: #fff;
    top: 0px;
    left: 100vw;
    width: calc(100vw - 32px);
    height: calc(100vh - 82px);
    padding: 72px 16px 0 16px;
    -webkit-transition: ease-in left 0.2s;
    transition: ease-in left 0.2s;
    z-index: 8;
  }
  
  .menu-nav-mobile.open{
    left: 0;
  }
  
  .header-login-button{
    font-size: 18px;
    font-weight: bold;
    color: rgb(41, 189, 186);
    text-decoration: none;
    text-transform: uppercase;
    padding: 22px 0;
    display: block;
  }
  
  .menu-header-menu-container ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-header-menu-container ul li{
    padding: 0;
    font-size: 16px;
    margin: 0;
  }
  
  .menu-header-menu-container ul li a{
    color: rgb(102, 102, 102);
    text-decoration: none;
    display: block;
    padding: 23px 0px;
    border-top: 1px solid rgb(237, 241, 244);
  }
  
  .menu-header-menu-container ul li a:last-child{
    border-bottom: 1px solid rgb(237, 241, 244);
  }
  
  .menu-header-menu-container .menu-item-has-children{
    position: relative;
    cursor: pointer;
  }
  .menu-header-menu-container .menu-item-has-children > a{
    pointer-events: none;
  }
  
  .menu-header-menu-container .menu-item-has-children > a::after{
    content: '';
    width: 28px;
    height: 16px;
    display: inline-block;
    position: relative;
    background-image: url(../images/sub-menu.svg);
    left: calc(100% - 79px);
    -webkit-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
  }
  
  .menu-header-menu-container .menu-item-has-children > a.rotate-svg::after{
    -webkit-transform: rotate(180deg) translateY(-4px);
            transform: rotate(180deg) translateY(-4px);
  }
  
  .menu-header-menu-container ul.sub-menu{
    padding-left: 54px;
    box-sizing: border-box;
    visibility: hidden;
    height: 0;
    -webkit-transition: all ease-in 0.1s;
    transition: all ease-in 0.1s;
  }
  
  .menu-header-menu-container ul.sub-menu.show{
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: #fff;
    visibility: visible;
  }
  
  header .header-search {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  @media (min-width: 1024px){
    .header-wrapper-desktop{
        display: -webkit-box;
        display: flex;
        left: 0;
        padding: 0 24px;
    }

    .header-wrapper-desktop nav{
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
    }

    .header-wrapper-desktop .request-wrapper{
        width: 0;
        margin: 0 10px;
        display: inline-block;
        -webkit-transition: width ease-in 0.2s;
        transition: width ease-in 0.2s;
        overflow: hidden;
    }

    .header-wrapper-desktop .request-wrapper.show{
        width: 192px;
        overflow: visible;
    }
  
    .header-wrapper-desktop .header-logo{
        width: 50px;
    }
  
    .menu-header-menu-container,
    .header-wrapper-desktop ul,
    .header-wrapper-desktop ul li,
    .header-wrapper-desktop ul li a,
    .header-login-button{
        display: inline;
        border: none;
    }
  
    .header-wrapper-desktop ul li a:last-child{
        border: none;
    }
  
    .header-wrapper-desktop ul li a,
    .header-login-button{
        margin: 0 16px;
    }
  
    .header-wrapper-desktop .menu-header-menu-container ul.sub-menu{
        background-color: #fff;
        visibility: visible;
        display: inline-block;
        position: absolute;
        top: -100px;
        left: 16px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
        opacity: 0;
        padding: 0px;
        border-radius: 5px;
        -webkit-transition: top 0.35s ease 0s, max-height 0.35s ease 0s, opacity 0.35s ease 0s;
        transition: top 0.35s ease 0s, max-height 0.35s ease 0s, opacity 0.35s ease 0s;
    }
  
    .header-wrapper-desktop .menu-header-menu-container ul.sub-menu.show{
        top: 30px;
        opacity: 1;
        padding: 0px;
    }
  
    .header-wrapper-desktop .menu-header-menu-container ul.sub-menu.show li:first-child{
        border-bottom: 2px solid rgb(147, 149, 152);
    }
    
    .header-wrapper-desktop .menu-header-menu-container ul.sub-menu.show li{
        display: inline-block;
        padding: 16px 0; 
        font-size: 14px;
    }
  
    .menu-header-menu-container .menu-item-has-children > a::after{
        display: none;
    }
  
    header .header-wrapper-desktop .header-cta{
        padding-left: 30px;
        padding-right: 30px;
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0 10px;
    }
  
    header .header-wrapper-desktop .header-cta.show{
        display: inline-block;
    }
  
    .header-wrapper-mobile, .menu-nav-mobile{
        display: none;
    }
  
  }
  
  @media (min-width: 1338px){
    .header-wrapper-desktop{
        padding: 0 calc((100% - 1290px)/2);
    }
  }
  
  
  /* Footer */
  
  footer{
      padding: 24px 10px;
      background-color: rgb(35, 31, 32);
  }

    footer li{
        padding: 0;
        margin: 0;
    }
  
  @media (min-width: 768px){
      footer{
          padding: 24px 35px;
      }
  }
  
  @media (min-width: 1024px){
      footer{
          padding: 24px 59px;
      }
  }
  
  @media (min-width: 1328px){
      footer{
          padding: 24px calc((100vw - 1210px)/2); 
      }
  }
  
  .footer-logo{
      text-align: center;
      border-bottom: 1px solid rgb(61, 61, 61);
      padding-bottom: 14px;
  }
  
  .footer-logo svg{
      width: 156px;
      height: 36px;
  }
  
  
  
  @media (min-width: 1024px){
      .footer-logo{
          text-align: left;
          padding-bottom: 21px;
      }
  }
  
  .footer-menus-wrapper{
      box-sizing: border-box;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      flex-wrap: wrap;
      -webkit-box-flex: 1;
              flex: 1 0 auto;
      padding: 13px 0 0 0;
  }
  
  .footer-menus-wrapper .menu-wrapper{
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      display: inline-block;
      max-width: 50%;
      -webkit-box-flex: 1;
              flex: 1 1 50%;
  }
  
  .menu-wrapper .menu-title{
      color: rgb(147, 149, 152);
      line-height: 1.5;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.0313rem;
      text-transform: uppercase;
      margin: 0px 0px 0.625rem;
      font-size: 14px;
      font-weight: 700;
  }
  
  .menu-wrapper ul{
      padding: 0;
      margin-top: 10px;
  }
  
  .menu-wrapper li{
      list-style: none;
  }
  
  .menu-wrapper li a{
      color: rgb(255, 255, 255);
      line-height: 1.4;
      font-style: normal;
      font-stretch: normal;
      font-size: 14px;
      text-decoration: none;
  }
  
  .footer-menus-wrapper .menu-contact{
      max-width: 100%;
      -webkit-box-flex: 1;
              flex: 1 1 100%;
  }
  
  .footer-menus-wrapper .menu-social-medias{
      border-top: 1px solid rgb(61, 61, 61);
      border-bottom: 1px solid rgb(61, 61, 61);
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: space-evenly;
              justify-content: space-evenly;
      padding: 10px 0px;
  }
  
  .footer-menus-wrapper .bmg-logo svg{
      display: none;
  }
  
  .footer-menus-wrapper .abcd-wrapper{
      display: none;
  }
  
  @media (min-width: 768px){
  
      .footer-menus-wrapper .menu-social-medias{
          border-top: none;
          -webkit-box-pack: start;
                  justify-content: flex-start;
      }
  
      .footer-menus-wrapper .menu-social-medias a{
          margin: 0 15px;
      }
  
      .menu-wrapper li a,
      .menu-wrapper .menu-title{
          font-size: 16px;
      }
  
  }
  
  @media (min-width: 1024px){
      .footer-menus-wrapper{
          box-sizing: border-box;
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
                  flex-direction: row;
          flex-wrap: wrap;
          -webkit-box-flex: 1;
                  flex: 1 0 auto;
          border-bottom: 1px solid rgb(61, 61, 61);
      }
  
      .footer-menus-wrapper .menu-social-medias{
          border-bottom: none;
      }
  
      .footer-menus-wrapper .menu-wrapper{
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
          display: inline-block;
          -webkit-box-flex: 1;
                  flex: 1 1 15%;
          margin: 0 11px 0 0;
      }
  
      .footer-menus-wrapper .menu-social-medias a:not(:first-child){
          margin: 0 0 0 16px;
      }
      .footer-menus-wrapper .menu-social-medias a:first-child{
          margin: 0;
      }
  
      .footer-menus-wrapper .bmg-logo svg{
          display: block;
          width: 75px;
          height: 75px;
      }
      
      .footer-menus-wrapper .abcd-logo svg{
          display: block;
          width: 135px;
          height: 40px;   
      }
      
  
      .footer-menus-wrapper .abcd-wrapper{
          max-width: 160px;
          margin-left: 12px;
          font-size: 12px;
          color: #fff;
      }    
  }
  
  .footer-example{
      border-bottom: 1px solid rgb(61, 61, 61);
      padding: 0 16px 8px 0px;
      box-sizing: border-box;
  }
  
  .footer-example .footer-example-text{
      color: rgb(255, 255, 255);
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: normal;
  }
  
  .footer-read-more{
      border-bottom: 1px solid rgb(61, 61, 61);
      padding-bottom: 15px;
  }
  
  .footer-read-more .read-more{
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
  }
  
  .footer-read-more .read-more-text-before{
      font-size: 14px;
      text-transform: uppercase;
      color: #fff;
      line-height: 22px;
  }
  
  .footer-read-more .read-more-button{
      text-transform: uppercase;
      font-size: 14px;
      color: #fff;
      font-weight: 700;
      padding: 10px 40px 10px 20px;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 100px;
      position: relative;
      display: inline-block;
      cursor: pointer;
      line-height: 23px;
  }
  
  .footer-read-more .read-more-button::after{
      content: "";
      position: absolute;
      top: 50%;
      right: 20px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 0px;
      height: 0px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid rgb(147, 149, 152);
  }
  
  .footer-bmg-mobile{
      width: 75px;
      height: 75px;
  }
  
.footer-bmg-mobile svg{
	max-width: 100%;
	max-height: 100%;
}

  .read-more-text{
      display: none;
      margin-top: 10px;
      color: rgb(255, 255, 255);
      line-height: 1.4;
  }
  
  .read-more-text.open{
      display: block;
  }
  
  @media (min-width: 768px){
      .footer-read-more .read-more-button{
          font-size: 15px;
      }
  }
  
  @media (min-width: 1024px){
      .footer-bmg-mobile{
          display: none;
      }
      .read-more-text{
          width: initial;
      }
  }
  
  .footer-abcd-member-mobile{
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      border-bottom: 1px solid rgb(61, 61, 61);
  }
  
  .footer-abcd-member-mobile svg{
      height: 40px;
      width: 135px;
      margin: 16px 16px 16px 0;
  }
  
  .footer-abcd-member-mobile .abcd-member-text{
      color: #fff;
      font-size: 12px;
      line-height: 14px;
  }
  
  @media (min-width: 1024px){
      .footer-abcd-member-mobile{
          display: none;
      }
  }
  
  .footer-infos p{
      color: rgb(255, 255, 255);
      font-size: 14px;
      line-height: 16px;
  }
  
  @media (min-width: 768px){
      .footer-infos p{
          font-size: 16px;
      }
  }

  /* Common Guttenberg */

.main-content{
    padding-top: 72px; 
    margin-bottom: 72px;   
}

h1{
    font-size: 18px;
    text-transform: uppercase;
    padding: 14px 0 25px;
}

h2, h3{
    text-transform: uppercase;
    color: #343434;
    margin: 0 0 10px 0;
}

h2{
    font-size: 20px;
    line-height: 24px;
    padding: 0 35px;
}

.title-h2{
    margin: 25px 0px;
    font-weight: 500;
    color: #000;
}

.subtitle-h2{
    font-size: 20px;
    color: #343434;
    margin-bottom: 10px;
    margin-top: 30px;
}

h3{
    font-size: 18px;
    line-height: 22px;
}

.main-content .wp-block-image{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto 50px;
}

.main-content p{
    font-size: 14px;
    color: #202030;
    line-height: 20px;
    margin: 24px auto;
}

ol, ul{
    padding-left: 18px;
}

ol{
    margin-top: 10px;
}

li{
    padding: 10px 0 20px;
    font-size: 14px;
    margin: 0 18px;
}

.wp-block-separator{
    background-color: #939598;
    margin: 30px 10px;
    height: 3px;
    opacity: 0.1;
}

.link-come-back:before {
  content: url('data:image/svg+xml; utf8, <svg stroke="rgb(16, 189, 186)" fill="rgb(16, 189, 186)" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" class="title-with-back-button__link-mobile__icon" xmlns="http://www.w3.org/2000/svg"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path></svg>');
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 20px;
}

.link-come-back {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-link-come-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-link-come-back h1 {
  padding: 0;
  margin: 0;
}

@media (min-width: 990px) {
  .link-come-back:before {
    margin-right: 4px;
    width: 16px;
    height: 16px;
  }
  
  .link-come-back {
    color: rgb(16, 189, 186);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    border: 2px solid rgb(16, 189, 186);
    border-radius: 50px;
    padding: 16px 32px;
    margin-right: 50px;
  }
  
  .link-come-back:hover {
    color: rgb(118, 229, 221);
    border-color: rgb(118, 229, 221);
  }
}

@media (min-width: 992px){
    h1{
        font-size: 40px;
    }

    .title-h2{
        margin: 50px auto 50px;
    }

    .subtitle-h2{
        font-size: 24px;
        margin-top: 100px;
    }

    .wp-block-separator{
        margin: 100px 46px;
    }
}

@media (min-width: 1024px){
    .main-content{
        padding-top: 88px;
        margin-bottom: 88px;
    }    

    h2{
        font-size: 40px;
        margin-bottom: 30px;
        line-height: 50px;
    }

    h3{
        margin-bottom: 30px;
        font-size: 36px;
        line-height: 44px;
    }

    .main-content p{
        font-size: 18px;
        line-height: 26px;
    }

    li{
        padding: 10px 0 20px;
        font-size: 18px;
    }
 
}

@media (min-width: 1372px){
    .wp-block-separator{
        max-width: 1280px;
        margin: 100px auto;
    }
}

/* Disclaimer Cookie */

.disclaimer-cookie.disclaimer-disable {
  display: none;
}

.disclaimer-cookie {
  background-color: rgba(35, 31, 32, 0.95);
  font-size: 16px;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.disclaimer-cookie p {
  margin-left: 32px;
  line-height: 1.5;
}

.disclaimer-cookie p, .disclaimer-cookie a {
  color: #ffffff;
}

.disclaimer-cookie a {
  font-weight: bold;
}

.disclaimer-cookie button {
  background-color: rgba(143, 144, 144, 0.8);
  padding: 12px 24px;
  border-radius: 50px;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 32px;
  cursor: pointer;
}

@media (min-width: 990px) {
  .disclaimer-cookie button {
    padding: 12px 48px;
  }
}

/* Logged-in margins */

.logged-in .menu-nav-mobile,
.logged-in .header-wrapper-mobile, 
.logged-in .header-wrapper-desktop,
.logged-in .alert-bar{
  margin-top: 46px;
}

@media (min-width: 782px) {
  .logged-in .menu-nav-mobile,
  .logged-in .header-wrapper-mobile, 
  .logged-in .header-wrapper-desktop,
  .logged-in .alert-bar {
    margin-top: 32px;
  }
}

/* Alert Bar */

.alert-bar {
  background-color: #F06466;
  height: 53px;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu';
}
@media (min-width: 782px) {
  .alert-bar {
    height: 38px;
  }
}

.alert-bar .desktop {
  display: none;
}

.alert-bar p {
  color: #fff;
  font-size: 13px;
  margin: 0;
}

.alert-bar p:before {
  content: url('data:image/svg+xml; utf8,<svg stroke="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" stroke-width="0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6C7.8 12.16 7 10.63 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z"></path></svg>');
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 5px;
}

.alert-bar button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 13px;
}

.alert-show .menu-nav-mobile,
.alert-show .header-wrapper-mobile, 
.alert-show .header-wrapper-desktop {
  margin-top: 53px;
}

.alert-show .main-content {
  padding-top: calc(72px + 53px);
}

.alert-show.logged-in .menu-nav-mobile,
.alert-show.logged-in .header-wrapper-mobile, 
.alert-show.logged-in .header-wrapper-desktop {
  margin-top: calc(46px + 53px);
}

@media (min-width: 782px) {
  .alert-show.logged-in .menu-nav-mobile,
  .alert-show.logged-in .header-wrapper-mobile, 
  .alert-show.logged-in .header-wrapper-desktop{
    margin-top: calc(32px + 53px);
  }
}

@media (min-width: 990px) {

  .alert-bar {
    height: 43px;
    padding: 0 24px;
  }

  .alert-bar .desktop {
    display: block;
  }

  .alert-bar .mobile {
    display: none;
  }

  .alert-bar p, .alert-bar button {
    font-size: 16px;
  }

  .alert-bar p:before {
    width: 16px;
    height: 16px;
  }

  .alert-show .menu-nav-mobile,
  .alert-show .header-wrapper-mobile, 
  .alert-show .header-wrapper-desktop {
    margin-top: 43px;
  }

  .alert-show .main-content {
    padding-top: calc(72px + 43px)
  }

  .alert-show.logged-in .menu-nav-mobile,
  .alert-show.logged-in .header-wrapper-mobile, 
  .alert-show.logged-in .header-wrapper-desktop{
    margin-top: calc(32px + 43px);
  }
}

@media (min-width: 1024px) {
  .alert-show .main-content {
    padding-top: calc(88px + 43px)
  }
}

/* Search Modal */

.search-modal {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  display: none;
}

.search-modal.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-modal input {
  border: 0;
  font-size: 24px;
  outline: none;
  padding: 0.25em 0.5em;
  font-family: Ubuntu;
  font-weight: 300;
}

.search-modal .search-close {
  position: absolute;
  top: 50px;
  right: 50px;
}

.search-modal .search-close svg {
  height: 25px;
  width: 25px;
}

@media(min-width: 768px) {
  .search-modal input {
    font-size: 48px;
  }
}


/******** ************
  SINGLE POST MODIFICAÇÕES
*********************/

form[name="subscribeForm"] input:nth-child(7){
  left: 5px;
  position: relative;
}

form[name="subscribeForm"] {
  text-align: left;
}
form[name="subscribeForm"] input {
  margin: 5px;
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  outline-style: none;
  width: 200px;
  color: rgb(92, 90, 90);
  }
  form[name="subscribeForm"] input:focus {
  background-color: rgb(240, 236, 236);
  }
  form[name="subscribeForm"] input[type="submit"] {
  width: 200px;
  background-color: rgb(11, 131, 132);
  color: white;
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  left: 50px !important;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all ease-in-out .4s;
  position: relative;
  margin-bottom: 40px;
  }

/******** Formulário de Lead *********/


.single-post form input:nth-child(7),
.page-template-default form input:nth-child(7){
  left: 5px;
  position: relative;
}

.page-template-default form {
  text-align: left;
}

.page-template-default center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-template-default center h3 {
  font-size: 24px;
  font-weight: 400;
  color: #444;
}

.single-post form input,
.page-template-default form input {
  margin: 5px;
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  outline-style: none;
  width: 200px;
  color: rgb(92, 90, 90);
  }
  .single-post form input:focus,
  .page-template-default form input:focus {
  background-color: rgb(240, 236, 236);
  }
  .single-post form input[type="submit"],
  .page-template-default form input[type="submit"] {
  width: 200px;
  background-color: rgb(11, 131, 132);
  color: white;
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  left: 50px !important;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all ease-in-out .4s;
  position: relative;
  margin-bottom: 40px;
  }


/******** Redes sociais *********/

.wp-block-social-links{
  position: relative;
  top: 50%;
  left: 65px;
  transform: translateY(-50%, -50%);
}
.wp-block-social-links .wp-social-link a{
  color: #fff;
  font-size: 22.5px;
  transition: all ease-in-out .4s;
}