.hero-site{
    position: relative;
}

.hero-site .hero-site-container{
    box-sizing: border-box;
    padding: 16px 10px 16px 10px;
}

.hero-site .hero-site-title{
    font-size: 24px;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 9px;
    margin-left: 24px;
    color: rgb(68, 68, 68);
    text-transform: none;
}

.hero-site p,
.hero-site li{
    color: #444;
    font-size: 16px;   
    line-height: 22px;
    margin: 0 0 14px 0;
    padding: 0;
}

.hero-site li{
    list-style: none;
    margin-left: 23px;
    text-indent: -25px;
}


.hero-site a{
    text-decoration: none;
    background-color: #29BDBA;
    color: #fff;
    margin: 15px 21px 0 21px;
    display: block;
    border-radius: 50px;
    text-align: center;
    padding: 11px 16px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.hero-site .hero-site-image{
    display: none;
    width: 100%;
    max-height: 640px;
}

.hero-site li::before{
    content: '';
    background-image: url('../../images/check-green.svg');
    height: 17px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
}

.hero-site.white-banner .hero-site-container{
    padding: 51px 35px 0;
}

.hero-site.white-banner .hero-site-title{
    margin-left: 0;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
    color: #343434;
    padding-bottom: 0;
}

.hero-site.white-banner p{
    color: #202030;
    font-size: 14px;
    line-height: 20px;
}

.hero-site.white-banner a{
    color: #0B7AD5;
    background-color: initial;
    text-transform: capitalize;
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

@media (min-width: 768px){
    .hero-site.white-banner .hero-site-container{
        padding: 51px 86px 0;
    }
}

@media (min-width: 992px){

    .hero-site.white-banner .hero-site-image{
        max-height: initial;
    }
    
    .hero-site.white-banner .hero-site-text-container{
        max-width: 386px;
        padding-left: 0;
        box-sizing: border-box;
    }
    
    .hero-site.white-banner p,
    .hero-site.white-banner .hero-site-title{
        color: #000;
    }
    
    .hero-site.white-banner .hero-site-title{
        text-transform: uppercase;
        font-size: 40px;
        margin-left: 0;
        margin-bottom: 30px;
        line-height: 50px;
    }

    .hero-site{
        overflow: hidden;
        position: relative;
    }
    
    .hero-site.white-banner p{
        font-size: 18px;
        margin-bottom: 30px;
        line-height: 26px;
    }
    
    .hero-site.white-banner a{
        color: rgb(11, 122, 213);
        background-color: initial;
        text-transform: capitalize;
        padding: 0;
        display: inline;
        margin: 0;
        font-size: 18px;
    }

    .hero-site .hero-site-image{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .hero-site .hero-site-container{
        padding: 0;
        width: 100vw;
        max-width: 1250px;
    }

    .hero-site .hero-site-text-container{
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(calc(-50%));
                transform: translateY(calc(-50%));
        max-width: 503px;
        padding-left: 35px;
    }

    .hero-site.full-width-container .hero-site-container .hero-site-text-container{
        top: 0;
        -webkit-transform:  none;
                transform:  none;
    }

    .hero-site a{
        max-width: 342px;
        font-size: 16px;
        box-sizing: border-box;
    }

    .hero-site .hero-site-title{
        font-size: 30px;
        margin: 0 0 0 40px;
        color: #fff;
    }

    .hero-site p,
    .hero-site li{
        font-size: 20px;
        color: #fff;
        line-height: 30px;
        margin-bottom: 13px;  
    }

    .hero-site li{
        font-size: 20px;
        margin: 8px 35px;
        text-indent: -39px;
    }

    .hero-site li::before{
        background-size: 27px;
        height: 22px;
        width: 27px;
        margin-right: 13px; 
    }

    .hero-site .hero-check-list{
        margin-right: 13px;
    }

    .hero-site .hero-check-list svg{
        width: 27px;
        height: 27px;
    }

    .hero-site.white-banner .hero-site-container{
        padding: 0 35px;
    }
}

@media (min-width: 916px){

    .hero-site .hero-site-title{
        margin-bottom: 28px;
        line-height: 40px;
    }
    
    .hero-site p,
    .hero-site li{
        margin-bottom: 20px;  
    }

    .hero-site a{
        margin-top: 28px;
    }
   
    .hero-site a:hover{
        color: rgb(255, 255, 255);
        background: rgb(118, 229, 221);
    }

    .hero-site.white-banner a:hover{
        text-decoration: underline;
        color: #0B7AD5;
        background: initial;
    }

    .hero-site li{
        margin: 17px 35px;
    }
}

@media (min-width: 1310px){
    .hero-site .hero-site-container,
    .hero-site.white-banner .hero-site-container{
        padding: 0 calc((100% - 1250px)/2);
    }
}

.overlay-full-width{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero-site.full-width-container{
    max-width: unset;
    min-height: 440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.hero-site.full-width-container .hero-site-image{
    display: block;
    position: absolute;
    max-height: 100%;
    width: 100%;
	height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center top;
       object-position: center top;
    z-index: -1;
}

.hero-site.full-width-container .hero-site-container{
    padding-top: 16px;
}

.hero-site.full-width-container .hero-site-container .hero-site-text-container{
    max-width: initial;
    padding: 0;
    text-align: center;
    position: static;
}

.hero-site.full-width-container .hero-site-title{
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
}

.hero-site.full-width-container p{
    font-size: 16px;
    line-height: 27px;
    margin-top: 4px;
    color: #fff;
}


@media (min-width: 992px){

    .hero-site.full-width-container .hero-site-container{
        padding-top: 40px;
		max-width: unset;
    }

    .hero-site.full-width-container .hero-site-title{
        font-size: 48px;
        padding: 0;
        line-height: 56px;
    }

    .hero-site.full-width-container p{
        font-size: 24px;
        line-height: 32px;
        margin: 24px auto 0;
        max-width: 858px;
    }

    .hero-site.full-width-container svg{
        width: 60px;
        height: 60px;
        margin-bottom: 25px;
    }
}