.single-content > .container {
    padding-top: 40px;
}

.single-content .sidebar {
    display: none;
}

.single-content .post-comments {
    margin-bottom: 84px;
    position: relative;
}

.single-content .post-comments:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #EEEEEE;
    bottom: -42px;
    left: 0;
}

.single-content img {
    max-width: 100% !important;
    height: auto;
}

@media(min-width: 1024px) {
    .single-content > .container {
        display: -webkit-box;
        display: flex;
    }

    .single-content .sidebar {
        min-width: 300px;
        max-width: 300px;
        display: initial;
    }

    .single-content .content-wraper {
        margin-right: 60px;
        width: calc(100% - 360px);
    }

    .single-content .post-comments:after {
        content: unset;
    }

    .single-content .post-comments {
        margin-bottom: 42px;
    }
}