.post-content {
    margin-bottom: 42px;
}

.post-content::after {
    content: "";
    width: 1px;
    height: 1px;
    display: block;
    clear: both;
}

.post-content p {
    color: #444444;
    margin: 0 0 28px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.post-content h2 {
    color: #444444;
    line-height: 1.2;
    font-size: 28px;
    margin: 42px 0 28px;
    padding: 0;
    text-transform: none;
    font-weight: 400;
}

.post-content h3,
.post-content h4 {
    margin: 0 0 28px;
    color: #444444;
    font-weight: 400;
    text-transform: none;
}

.post-content h3 {
    font-size: 21px;
}

.post-content h4 {
    font-style: 17px;
}

.post-content h5 {
    font-size: 1rem;
    font-weight: 400;
}

.post-content ul {
    margin: 0 0 28px;
}

.post-content li {
    color: #444444;
    font-weight: 300;
    padding: 0;
    line-height: 1.5;
}

.post-content ul li:not(:last-child) {
    margin-bottom: 14px;
}

.post-content a {
    color: #000;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

.post-content a:hover {
    color: #A0A0A0;
}

.post-content strong {
    font-weight: bolder;
}

.post-content .wp-block-button a {
    border-radius: 100px;
    background-color: #51cac7;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #51CAC7;
    padding: 5px 20px 12px 20px;
    text-decoration: none;
}

.post-content .wp-block-button a:hover {
    border-color: #325756;
    background-color: #325756;
}

.post-content iframe {
    max-width: 100%;
    height: 300px;
    margin: 0 0 28px;
}

.post-content .wp-block-table {
    font-size: 15px;
    text-align: center;
    color: #373737;
    overflow-x: auto;
    display: block;
    margin-bottom: 42px;
}

.post-content .wp-block-table::-webkit-scrollbar-thumb {
    background-color: #51cac7;
    border-radius: 25px;
}

.post-content .wp-block-table::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 1%, 53%);
}

.post-content .wp-block-table table {
    border-collapse: collapse;
}

.post-content .wp-block-table tr:first-of-type {
    color: #FFFFFF;
    background-color: rgb(11, 131, 132);
}

.post-content .wp-block-table tr:first-of-type a {
    color: #FFFFFF;
}

.post-content .wp-block-table tr:first-of-type td {
    border-top: none;
    border-bottom: none;
}

.post-content .wp-block-table tr:nth-of-type(2) td {
    border-top: none;
}

.post-content .wp-block-table tr td {
    padding: 32px 42px;
    border: 3px solid #d0fffd;
    white-space: normal;
}

.post-content .wp-block-table tr:not(:first-of-type) td {
    background-color: #f4ffff;
}

.post-content .wp-block-image {
    margin: 0 0 32px;
    max-width: 100%;
    width: auto;
}

.single-content .overlay-imagen-gallery {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 15;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
}

.single-content .overlay{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: white;
    z-index: 1;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.single-content .overlay-imagen-gallery img {
    width: 100%;
    max-width: 1024px;
    z-index: 2;
}

.single-content figure img {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

@media(min-width: 768px) {
    .post-content iframe {
        height: 450px;
    }
}

@media(min-width: 1024px) {
    .post-content {
        margin-bottom: 48px;
    }

    .post-content p {
        font-size: 18px;
        margin-bottom: 32px;
    }

    .post-content h2 {
        margin: 48px 0 32px;
        font-size: 32px;
    }

    .post-content .wp-block-table {
        font-size: 18px;
    }

    .post-content h3 {
        font-size: 24px;
    }

    .post-content h4 {
        font-size: 20px;
    }

    .post-content .wp-block-button a {
        font-size: 16px;
    }
}