.single-header .post-categories li a {
    color: #0084ec;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .78px;
    text-decoration: none;
    text-transform: uppercase;
}

.single-header .post-categories li a:hover {
    color: #A0A0A0;
}

.single-header .post-categories {
    margin: 0 0 14px;
    padding: 0;
}

.single-header .post-categories li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.single-header .title {
    padding: 0;
    margin: 0 0 21px;
    font-size: 24px;
    font-weight: 700;
    color: #444;
	text-transform: none;
}

.single-header .informations {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    flex-wrap: wrap;
    margin-bottom: 42px;
}

.single-header .date,
.single-header .time-of-reading,
.single-header .author {
    margin: 0;
    color: #8F8F8F;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .67px;
    line-height: 16px;
    text-transform: uppercase;
}

.single-header .time-of-reading, 
.single-header .author {
    margin-left: 7px;
}

.single-header .time-of-reading::before,
.single-header .author::before {
    margin-right: 7px;
    content: "\b7";
}

.single-header .thumbnail {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 14px;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.thumbnail img {
    max-width: 100%;
    height: auto;
}

@media(min-width: 768px) {
    .single-header .title {
        font-size: 48px;   
    }

    .single-header .date,
    .single-header .time-of-reading,
    .single-header .author {
        font-size: 14px;
        letter-spacing: .78px;
    }
}