.next-article,
.prev-article {
    position: relative;
    margin-bottom: 28px;
}

.next-article .link,
.prev-article .link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(40,40,40,0.125);
}

.next-article:hover .link,
.prev-article:hover .link {
    background-color: rgba(40,40,40,0.25);
}

.next-article .image,
.prev-article .image {
    width: 100%;
    height: 100%;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
}

.next-article .content-article,
.prev-article .content-article {
    padding: 28px 28px 8px;
}

.next-article .post-categories,
.prev-article .post-categories {
    margin: 0 0 14px;
    padding: 0;
}

.next-article .post-categories li,
.prev-article .post-categories li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.next-article .post-categories li:not(:last-child),
.prev-article .post-categories li:not(:last-child) {
    margin-bottom: 10px;
}

.next-article .post-categories li a,
.prev-article .post-categories li a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .78px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.next-article .post-categories li a:hover,
.prev-article .post-categories li a:hover {
    color: rgba(255,255,255,0.75);
}

.next-article .content-article .title,
.prev-article .content-article .title {
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 10px;
    color: white;
}

.next-article .content-article .date,
.prev-article .content-article .date {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .78px;
    color: white;
    margin: 0 0 14px;
}

.stick-prev .stick-text ,
.stick-next .stick-text {
    display: none;
}

@media(min-width: 768px) and (max-width: 1349px) {
    .stick-prev,
    .stick-next {
        min-height: 240px;
        box-sizing: border-box;
        width: calc((100% - 40px) / 2);
    }

    .stick-prev {
        margin-right: 40px;
    }

    .stick-prev .prev-article,
    .stick-next .next-article {
        height: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: end;
                align-items: flex-end;
    }

    .prev-next {
        display: -webkit-box;
        display: flex;
        margin-bottom: 28px;
    }
}

@media(min-width: 1350px) {
    .stick-prev,
    .stick-next {
        position: fixed;
        top: 40%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        -webkit-transition: 0.3s ease-out;
        transition: 0.3s ease-out;
        z-index: 10;
        pointer-events: none;
    }

    .stick-prev.show,
    .stick-next.show {
        -webkit-transform: none;
                transform: none;
        pointer-events: all;
    }

    .stick-next {
        right: 0;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }

    .stick-prev {
        left: 0;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }


    .stick-prev .stick-text {
        -webkit-transform: rotate(-90deg) translate(-50%,0);
                transform: rotate(-90deg) translate(-50%,0);
        left: -120px;
    }

    .stick-next .stick-text {
        -webkit-transform: rotate(90deg) translate(50%,0);
                transform: rotate(90deg) translate(50%,0);
        right: -120px;
    }

    .stick-prev .stick-text,
    .stick-next .stick-text {
        text-align: center;
        position: absolute;
        width: 320px;
        height: 80px;
        top: -80px;
        z-index: 1;
        display: block;
    }

    .stick-prev .prev-article,
    .stick-next .next-article {
        visibility: hidden;
        opacity: 0;
    }

    .stick-prev a:hover + .prev-article,
    .stick-prev .prev-article:hover,
    .stick-next a:hover + .next-article,
    .stick-next .next-article:hover  {
        visibility: initial;
        opacity: 1;
        -webkit-transition: 0.3s ease-out;
        transition: 0.3s ease-out;
    }

    .stick-prev .stick-text p,
    .stick-next .stick-text p {
        padding: 25px 0 0;
        text-transform: uppercase;
        margin: 0;
        color: #8f8f8f;
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: 700;
    }

    .stick-prev .stick-text:hover p,
    .stick-next .stick-text:hover p,
    .stick-prev .stick-text.show p,
    .stick-next .stick-text.show p {
        color: #fff;
    }

    .stick-prev .stick-text:hover,
    .stick-prev .stick-text.show,
    .stick-next .stick-text:hover,
    .stick-next .stick-text.show {
        background-color: rgba(40,40,40,0.25);
    }

    .next-article,
    .prev-article {
        width: 80px;
        box-sizing: border-box;
    }

    .prev-article:hover,
    .next-article:hover,
    .stick-next a:hover + .next-article,
    .stick-prev a:hover + .prev-article {
        width: 560px;
    }

    .next-article .content-article,
    .prev-article .content-article {
        width: 100%;
        height: 100%;
        min-height: 240px;
        box-sizing: border-box;
    }
    
    .next-article .content-article {
        padding-right: 120px;
    }

    .prev-article .content-article {
        padding-left: 120px;
    }
}