.sidebar li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .post-list {
    margin: 0;
    padding: 0;
}

.sidebar .post-list .post-item {
    display: -webkit-box;
    display: flex;
}

.sidebar .post-list .post-item:not(:last-child) {
    margin-bottom: 16px;
}

.sidebar .post-list .thumbnail {
    margin-right: 15px;
    display: block;
    position: relative;
    width: 86px;
    height: 90px;
}

.sidebar .post-list .thumbnail img {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.sidebar .post-list .thumbnail:hover img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

.sidebar .post-list .thumbnail::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    z-index: 1;
}

.sidebar .post-list .thumbnail:hover::before {
    background-color: rgba(40,40,40,0.25);
}

.sidebar .post-list a {
    text-decoration: none;
}

.sidebar .post-list .category-title {
    max-width: calc(100% - 105px);
}

.sidebar .post-list .category {
    color: #0084ec;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .78px;
    text-transform: uppercase;
    margin: 0 0 10px;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.sidebar .post-list .title {
    color: #000000;
    line-height: 1.2;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.sidebar .post-list .title:hover,
.sidebar .post-list .category:hover {
    color: #A0A0A0;
}

.sidebar .widget:not(:last-child)  {
    margin-bottom: 64px;
}

.sidebar .widget_categories .widgettitle {
    padding: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sidebar .widget_categories ul {
    padding: 0;
    margin: 0; 
}

.sidebar .widget_categories li {
    font-size: 18px;
    letter-spacing: .7px;
}

.sidebar .widget_categories li:not(:last-child) {
    margin-bottom: 20px;
}

.sidebar .widget_categories a {
    color: #8f8f8f;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: capitalize;
}

.sidebar .widget_categories a:hover {
    color: #a0a0a0;
}