@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-display:swap;
    font-weight: 400;
    src: local('OpenSans Regular'),local(OpenSans-Regular),url(OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-display:swap;
    font-weight: 800;
    src: local('OpenSans Bold'),local(OpenSans-Bold),url(OpenSans-Bold.ttf);
}

body {
    font-family: Open Sans,sans-serif;
}
