@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-display:swap;
    font-weight: 300;
    src: local('Ubuntu Light'),local(Ubuntu-Light),url(Ubuntu-Light.ttf);
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-display:swap;
    font-weight: 400;
    src: local('Ubuntu Regular'),local(Ubuntu-Regular),url(Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-display:swap;
    font-weight: 500;
    src: local('Ubuntu Medium'),local(Ubuntu-Medium),url(Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-display:swap;
    font-weight: 700;
    src: local('Ubuntu Bold'),local(Ubuntu-Bold),url(Ubuntu-Bold.ttf);
}

body {
    font-family: Ubuntu,sans-serif;
}
